<div id="forgot-password-container">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 card card-block">
        <h3>Forgot your password?</h3>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <br />
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
          </div>

          <div class="form-actions">
            <%= f.button :button, "Reset Password".html_safe, class: "btn btn-block btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %>
          </div>
        <% end %>
        <br />
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
