<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <%= link_to 'Restforce', root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <%= link_to "Accounts", accounts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contacts", contacts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Opportunities", "", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Leads", "", class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'My Account', edit_user_registration_path, class: "nav-link btn-sm btn-success btn-sign-out" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link btn-sm btn-primary btn-sign-out" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: "nav-link btn-sm btn-primary btn-sign-in" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
