<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <%= link_to 'Restforce', root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <%= link_to "Accounts", accounts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contacts", "", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Opportunities", "", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Leads", "", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link" %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
