<div id="homepage-container">
  <div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Restforce Demo App</h1>
    <p class="lead">Restforce is the most popular Ruby gem for interacting with Salesforce using the Salesforce API.</p>
  </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <%= image_tag ("account.png"), class: "card-img-top img-fluid homepage-icons", alt: "Restforce" %>
          <div class="card-block">
            <p class="card-text">Manage your Accounts</p>
            <%= link_to 'Accounts', accounts_path, class: "btn btn-block btn-success-outline" %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <%= image_tag ("contact.png"), class: "card-img-top img-fluid homepage-icons", alt: "Restforce" %>
          <div class="card-block">
            <p class="card-text">Manage your Contacts</p>
            <%= link_to 'Contacts', contacts_path, class: "btn btn-block btn-success-outline" %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <%= image_tag ("opportunity.png"), class: "card-img-top img-fluid homepage-icons", alt: "Restforce" %>
          <div class="card-block">
            <p class="card-text">Manage your Opportunities</p>
            <%= link_to 'Opportunities', "", class: "btn btn-block btn-success-outline" %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <%= image_tag ("lead.png"), class: "card-img-top img-fluid homepage-icons", alt: "Restforce" %>
          <div class="card-block">
            <p class="card-text">Manage your Leads</p>
            <%= link_to 'Leads', "", class: "btn btn-block btn-success-outline" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
