<div id="accounts-container">
  <div class="container">
    <%= link_to 'New Account', new_account_path, class: 'btn btn-success btn-sm' %>
    <br /><br />
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Record ID</th>
          <th>Account Name</th>
          <th>Website</th>
          <th colspan="5">Phone</th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= account.Id %></td>
            <td><%= account.Name %></td>
            <td><%= account.Website %></td>
            <td><%= account.Phone %></td>
            <td>
              <%= link_to account_path(id: account.Id), class: "btn btn-secondary" do %>
                <i class="fa fa-search"></i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_account_path(id: account.Id), class: "btn btn-primary" do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </td>
            <td>
              <%= link_to account_path(id: account.Id), method: :delete, class: "btn btn-danger" do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br />
  </div>
</div>
